/* Universal Resets */
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Universal Resets End */


/* CSS variables */
:root{
    --primaryFont: 'Lato', sans-serif;
    --secondaryFont: 'Poppins', sans-serif;
    --primaryColor: #3fd0d4;
    --mainTransition: all 0.2s ease-in-out;
    --letterSpacing: 0.25rem;
    --lightShadow: box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    --heavyShadow: box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
/* CSS variables End */

/* Body Defaults*/
body{
    background: #f6f6f6;
    font-size: 1rem;

}
img{
    display: block;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, h7{
   font-family: var(--secondaryFont);
   text-transform: uppercase;
   letter-spacing: var(--letterSpacing);
}

p{  
    margin-top: 2rem;
    font-family: var(--secondaryFont);
    letter-spacing: 0.1rem;
}

a{
    text-decoration: none;
}

section{
    padding: 5rem 0;
}
/* Body Defaults End*/


/* Clearfixes */

/* Clearfixes End */


/* Helper/Utitlity */


/* Helper/Utitlity  End */

/* Global */
.main-btn, .second-btn{
    display: inline-block;
    background: none;
    outline: 3px solid whitesmoke;
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    font-family: var(--primaryFont);
    font-size: 1rem;
    text-transform:uppercase;
    letter-spacing: var(--letterSpacing);
    color: whitesmoke;
}

.main-btn:hover, .second-btn:hover{
    background: whitesmoke;
    color: var(--primaryColor);
    transition: var(--mainTransition);
}

.second-btn{
    background: var(--primaryColor);
    outline: 3px solid var(--primaryColor);
}

/* Global End */

/* Header */

/* Hero */
.hero{
    background: var(--primaryColor);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    text-align: center;
}

.continue-exploring{
    font-size: 3rem;
    letter-spacing: var(--letterSpacing);
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.hero-text > p{
    max-width: 35rem;
    margin: 0 auto;
    color: whitesmoke;

}

@media screen and (min-width: 768px){
    .hero{
        background: linear-gradient(to top, rgba(0,0,0,0.5), #3fd0d4), url('/images/main.jpeg')center/cover no-repeat fixed;
    }
    .continue-exploring{
        font-size: 5rem;
    }
}
/* Hero End */

/* Section Center */
.section-center{
    width: 80vw;
    margin: 2rem auto 1rem auto;
    max-width: 1170px;
}
/* Section Center  End */
/* About Section */
.about{
    text-transform: uppercase;
}

.colored-h1{
    text-align: center;
    font-size: 3rem;
}
.us{
    color: var(--primaryColor);

}

.text h1{
    font-size: 2rem;
    margin-top: 2rem;
}

@media screen and (min-width: 1080px){
    .explore-the-difference{
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
    }

    .image, .text{
        flex: 0 0 calc(50% - 2rem);
        align-self: center;
        z-index: 1;
    }

    .image::before, .image::after{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        left: 0;
    }

    .image:hover::before, .image:hover::after{
        transition: all 0.2s linear;
        
    }
    .image:hover::before{
        background: url('/images/tour-3.jpeg');
        z-index: -2;
        top: -6rem;
        left: -6rem;
    }
    .image:hover::after{
        background: url('/images/tour-4.jpeg');
        z-index: -1;
        top: -3rem;
        left: -3rem;
    }   

    .image{
        position: relative;
    }
    
}
/* About Section End */

/* Services */
.services{
    background: #f0efef;
}

.services-items div i{
    background: var(--primaryColor);
    font-size: 170%;
    display: inline-block;
    padding: 1.5rem 1.5rem;
}

.saving-money, .endless-hiking, .amazing-comfort{
    margin: 3rem 0;
    text-align: center;
}

.saving-money-text, .endless-hiking-text, .amazing-comfort-text{
    padding-top: 2rem;
}

.services-items div div p{
    max-width: 80%;
    margin: 1rem auto;
}

@media screen and (min-width: 768px){
    .services-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .saving-money, .endless-hiking, .amazing-comfort{
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (min-width: 992px){

    .saving-money, .endless-hiking, .amazing-comfort{
        flex: 0 0 calc(33.33% - 1rem);
    }

    .saving-money, .endless-hiking, .amazing-comfort{
        display: flex;
    }
    .saving-money-text, .endless-hiking-text, .amazing-comfort-text{
        padding-top: 0;
        text-align: center;
    }
    .services-items div div p{
        width: 100%;
        margin: 1rem auto;
    }
    .box{
        flex-grow: 0;
        justify-content: space-between;
        display: block;
    }
   
}
/* Services End*/

/* Featured Tours */

.card-items{
    margin:3rem 0;
    box-shadow: 3px 3px 5px grey;
    position: relative;
    
}
.card-items:hover{
    transition: var(--mainTransition);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.75);
}
.tour-des{
    padding: 1rem 2rem;
}

.title{
    letter-spacing: var(--letterSpacing);
}

.location{
    color: var(--primaryColor);
    letter-spacing: 0.1rem;
}

.flexing{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.price{
    max-width: 5rem;
    color: grey;
    font-weight: lighter;
}

@media screen and (min-width: 768px){
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    .card-items{
        flex:0 0 calc(50% - 1rem);   
    }
}

@media screen and (min-width: 1168px){
    .card-items{
        flex:0 0 calc(33.33% - 1rem);
    }
}

.date{
    background: var(--primaryColor);
    position: absolute;
    padding: 0.8rem;
    font-family: var(--primaryFont);
    font-weight: lighter;
}

.btn{
 text-align: center;   
}
/* Featured Tours End*/

/* Our Gallery */

.gallery{
    background: #979797;
}

.gallery-images{
    margin: 3rem 0;
    
}

.gallery-img{
    position: relative; 
}

.gallery-img::after{
    content: "";
}

.gallery-img:hover::after{
    content: "";
    background: var(--primaryColor);
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    transition: all 1s linear;
    z-index:0
     
}

.search{
    visibility: hidden;
    position: absolute;
    font-size: 300%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;

   
}
.gallery-img:hover .search{
    visibility: visible;
    z-index: 1;
    
}
@media screen and (min-width: 768px){
    .gallery-images{
        display: flex;
        flex-wrap: wrap;
        
    }
    .gallery-img{
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 992px){
    .gallery-img{
        flex:0 0 25%;
    }
}


/* Our Gallery  End*/

/* Hot Deals */

.deal-form{
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    
    
}
.email-form{
    flex: 1 0 auto;
}

.email-form, .submit-btn{
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing);
    border: 2px solid var(--primaryColor);
    font-size: 1rem;
}

.submit-btn:hover{
    background: var(--primaryColor);
    transition: var(--mainTransition);
    color: white;
}
/* Hot Deals End*/
/* Header End */

/* Footer */

footer{
    background: black;
    margin-top: 10rem;
}
footer div{
    padding: 2rem 0 0 0;
}

.nav-link, .copyright{
    color: white;
    letter-spacing: var(--letterSpacing);
    font-size: 1.2rem;
    font-family: var(--secondaryFont);
    padding: 0 1rem;
    /* flex: 0 0 calc(33.33%) */
}

.footer-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sodial-icon{
    color: white;
    padding: 0 0.5rem;
    font-size: 2rem;
}
.social-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.copyright{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
/* Footer End*/